.team {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $team-fon-color;
}

.team__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
}
.card-team {
  background-color: $white-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.card-team__content {
  padding-top: 30px;
}
.card-team__caption {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  text-align: center;
}
.card-team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: $title-text-color;
}
.socials-container {
  padding-top: 16px;
  padding-bottom: 24px;

  @media screen and (min-width: $desktop) {
    padding-bottom: 32px;
  }
}
.socials {
}
.socials__item {
}
.socials__link {
}
.socials__icon {
}
