.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    font-size: 28px;
    line-height: 1.18;
  }

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.16;
  }
}
